<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>   
      <configSections>          
       <!--section name="sessionState" type="System.Web.SessionState.SessionStateSectionHandler,System.Web" /-->
      </configSections>
    <appSettings>        
    </appSettings>
    <connectionStrings/>
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <pages buffer="true" validateRequest="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true" smartNavigation="false" />
			<authorization>
				<allow users="Admin"/>
				<deny users="*"/>
			</authorization>
  <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
        <customErrors mode="Off">
        </customErrors>

      <!--sessionState timeout="60"></sessionState-->
    </system.web>


</configuration>
